.prenatal-visit-main_survey {
  height: 100%;

  .survey-left-wrapper {
    width: 256px;
    height: 100%;
    float: left;
  }

  .survey-right-wrapper {
    margin-left: 256px;
    height: 100%;
    overflow: auto;
  }

  .survey-left {
    padding: 0 8px;
    height: 100%;
    background-color: #fff;
    margin-right: 12px;

    .left-title {
      height: 48px;
      line-height: 48px;
      border-bottom: 1px solid #d7dce7;
      margin-bottom: 12px;
    }

    .ant-collapse {
      max-height: 600px;
      overflow-y: auto;
      border-top: 1px solid #c9cfda;
      .ant-collapse-item > .ant-collapse-header {
        padding-left: 36px;
        background-color: #f5f6fa;
        font-weight: 500;
        .anticon-calendar {
          margin-right: 6px;
        }
      }
      .ant-collapse-content {
        padding: 0;
        border-top: none;
      }
      .ant-collapse-content-box {
        padding: 0;
      }

      .left-item {
        color: #25265e;
        border-top: 1px solid #c9cfda;
        padding: 10px 0;
        position: relative;
      }
      .left-item-title {
        width: 208px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 18px;
        margin-bottom: 0;
        cursor: pointer;
      }
      .left-item-state {
        position: absolute;
        left: 3px;
        top: 3px;
        font-size: 12px;
        color: #7569ff;
      }
      .left-item-lable {
        position: absolute;
        right: 5px;
        top: 11px;
        font-size: 14px;
        color: #68cda0;
      }
    }
    .no-data {
      height: 370px;
      border: 1px solid #c9cfda;
      .no-data-title {
        height: 36px;
        line-height: 36px;
        text-align: center;
        background-color: #fafafa;
      }
    }
  }


}
