@import '../../../../common.less';

.prenatal-visit-main_base {
  height: 100%;
  // background-color: #fff;
  .prenatal-visit-main_base-tabs {
    height: 100%;
  }
  .prenatal-visit-main_base-tabs .ant-tabs-content-holder {
    height: calc(100% - 34px);
    overflow-y: auto;
    // border: 1px solid @primary-color;
    // border-top: none;
    .ant-tabs-content {
      // min-width: 1200px;
      // padding: 12px 0;
    }
  }
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    overflow: visible;
  }
  &-tabs {
    .ant-tabs-bar {
      margin-bottom: 0;
    }
    // .ant-tabs-nav-wrap {
    //   border-bottom: 1px solid @primary-color;
    // }
    .ant-tabs-nav {
      // background-color: #f8f8fb !important;
      margin-bottom: 0;
    }
    .ant-tabs-tab {
      height: 34px !important;
      // margin-right: 2px !important;
      // border-left-color: #fafafa !important;
      // background-color: #fff !important;
      // padding: 6px 16px !important;
      // &.ant-tabs-tab-active {
      //   transform: translateY(1px) !important;
      //   color: @primary-color;
      //   border-color: @primary-color !important;
      //   border-bottom: none !important;
      //   border-radius: 6px 6px 0 0 !important;
      // }
    }
  }
  &-btns {
    text-align: center;
    margin-top: 100px;
    margin-right: 100px;
  }
}
