@import '../index.module.less';

.question-step-two__panel-preview-middle__question {
  border-bottom: 1px solid @questionnaire-border-color;
  &:hover {
    background-color: @questionnaire-item-active-bg-color;
  }

  &-tip {
    font-size: 12px;
    color: @questionnaire-item-text-second-color;
  }
}
