.modal-page {
    :global(.ant-modal-header) {
        display: none;
    }

    :global(.ant-modal-close) {
        display: none;

        transition: all .6s;
        right: -40px;
        top: -40px;
        color: #fff;
        background: rgba(128, 128, 128, .8);
        border-radius: 50%;

        &:hover {
            background: rgba(1, 1, 1, .9);

        }
    }

    :global(.ant-modal-close-x) {
        width: 36px;
        height: 36px;
        line-height: 36px;

    }

    .btn-containner {
        position: fixed;
        right: 20px;
        top: 20px;
    }
}