.prenatal-visit-main_home {
  height: 100%;
  overflow-y: auto;
  padding: 10px 20px;
  // background-color: #fff;
  .ant-table .ant-table-cell {
    text-align: center;
    word-break: keep-all;
  }
}
