.nuser-record {
  .ant-menu-submenu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px !important;
  }

  border-bottom: 1px solid #ccc;

  .menu-btn-span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.doctor-desk-first-visit-sider-list__item-title {
  width: 180px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nur-form-container {
  .ant-input[disabled] {
    color: rgba(0, 0, 0, 0.85);
  }

  .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: rgba(0, 0, 0, 0.85);
  }
}