// @import '../../../assets/styles/theme/variables.less';



.pressure-input_issue {
  color: red !important;

  input {
    color: red !important;
  }
}

.pressure-input {
  width: 64px !important;

  :global(.ant-input-number-handler-wrap) {
    display: none;
  }

  input {
    padding: 0 4px;
    text-align: center;
  }
}



.pressure-input_tip {
  margin-left: 4px;
}