@media print {

  html,
  body {
    background-color: #fff !important;

    .printPreeclampsia {
      .tree-title {
        width: 100%;
      }

      .tree-title> :global(.ant-tree-switcher),
      .tree-title> :global(.ant-tree-checkbox) {
        display: none;
      }

      // :global(.ant-tree-checkbox-checked .ant-tree-checkbox-inner) {
      //   background-color: red;
      //   border-color: red;
      // }

      .tree-title> :global(.ant-tree-node-content-wrapper) {
        width: 100%;
        height: 30px;
        margin-bottom: 10px;
        line-height: 30px;
        text-align: center;
        background-color: #e6f7ff;
        border-bottom: 3px solid #6699ff;
      }

      .tree-left :global(.ant-tree-treenode) {
        width: 100%;
        white-space: pre-wrap;

        // &:nth-child(6),
        // &:nth-child(13) {
        //   margin-bottom: 8px;
        //   padding-bottom: 8px;
        //   border-bottom: 1px dashed #6699ff;
        // }
      }

      .tree-right :global(.ant-tree-treenode) {
        width: 100%;

        // &:nth-child(2),
        // &:nth-child(3) {
        //   margin-bottom: 45px;
        //   padding: 60px 0;
        //   border-bottom: 1px dashed #6699ff;
        // }

        // &:nth-child(3) {
        //   margin-bottom: 80px;
        //   padding-bottom: 103px;
        // }
      }
    }
  }
}

.preeclampsia-modal {
  .tree-title {
    width: 100%;
  }

  .tree-title> :global(.ant-tree-switcher),
  .tree-title> :global(.ant-tree-checkbox) {
    display: none;
  }

  // :global(.ant-tree-checkbox-checked .ant-tree-checkbox-inner) {
  //   background-color: red;
  //   border-color: red;
  // }

  .tree-title> :global(.ant-tree-node-content-wrapper) {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
    background-color: #e6f7ff;
    border-bottom: 3px solid #6699ff;
  }

  .tree-left :global(.ant-tree-treenode) {
    width: 100%;
    white-space: pre-wrap;

    // &:nth-child(7),
    // &:nth-child(13) {
    //   margin-bottom: 8px;
    //   padding-bottom: 8px;
    //   border-bottom: 1px dashed #6699ff;
    // }
  }

  .tree-right :global(.ant-tree-treenode) {
    width: 100%;

    // &:nth-child(2),
    // &:nth-child(3) {
    //   margin-bottom: 45px;
    //   padding: 60px 0;
    //   border-bottom: 1px dashed #6699ff;
    // }

    // &:nth-child(3) {
    //   margin-bottom: 80px;
    //   padding-bottom: 103px;
    // }
  }

  .footer-tips {
    float: left;
    width: 680px;
    color: #666;
    font-size: 12px;
    text-align: left;
  }
}

.fuck-border {
  // border-bottom: 1px dashed #6699ff;
  border-bottom: 2px dashed #6699ff;
  margin: 4px 0;
}