.reserve-modal-container {
  overflow: auto;
  .ant-table-thead > tr > th {
    background-color: #f5f6fa;
    font-weight: 700;
  }
  .ant-modal-close-x {
    display: none;
  }
  .ant-modal-body {
    text-align: center;
    max-height: 500px;
  }
}
