.custom-image-editor {
    width: 100%;
    overflow: hidden;
    margin-top: -460px;
    position: relative;
    border: 1px solid #eee;

    .react-img-editor-container,
    .konvajs-content,
    .react-img-editor {
        width: 100% !important;
    }

    .react-img-editor-palette {
        background: #fff;
    }

    &-save {
        position: absolute;
        right: 20px;
        bottom: 30px;
    }

    .custom-image-editor-null {
        width: 100%;
        height: 460px;
    }

    .react-img-editor-toolbar {
        margin-left: -200px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
        width: 36px !important;
        display: block;
    }

    .react-img-editor-toolbar-separator {
        display: none;
    }
}

.gy-image-editor {
    margin: 4px;
    background-color: #fff;

    .box-img {
        width: 90px;
        height: 90px;
        border: 1px solid #d7dce7;
        position: relative;
        margin-top: 8px;
        margin-left: 7px;
        cursor: move;

        img {
            width: auto;
            max-width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .box-text {
        font-size: 12px;
        font-weight: 400;
        color: #828c99;
        line-height: 17px;
        text-align: center;
    }

    :global(.ant-layout-sider) {
        background: #fff;
    }

    :global(.ant-layout) {
        background: #fff;
    }

    #images {
        overflow: hidden;
        clear: both;
        display: flex;
        flex-wrap: wrap;
    }

    #canvas-container {
        position: relative;

        .tool-bar {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            height: auto;

            :global(.ant-btn) {
                width: 24px;
                height: 24px;
                padding: 14px 0;
                border: none;
            }
        }
    }

    .button-icon {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .back {
        background-image: url(/lm_imgs/mie/back.svg);
    }

    .forward {
        background-image: url(/lm_imgs/mie/forward.svg);
    }

    .pen {
        background-image: url(/lm_imgs/mie/pen.svg);
    }

    .text {
        background-image: url(/lm_imgs/mie/text.svg);
    }

    .rect {
        background-image: url(/lm_imgs/mie/rect.svg);
    }

    .circle-icon2 {
        background-image: url(/lm_imgs/mie/circle.svg);
        background-color: none;
    }

    .triangle {
        background-image: url(/lm_imgs/mie/triangle.svg);
    }

    .line {
        background-image: url(/lm_imgs/mie/line.svg);
    }

    .clear {
        background-image: url(/lm_imgs/mie/clear.svg);
    }

    .export {
        background-image: url(/lm_imgs/mie/export.svg);
    }

    .selected {
        background-image: url(/lm_imgs/mie/selected.svg);
    }

    .noselected {
        background-image: url(/lm_imgs/mie/no.svg);
    }

    .save {
        background-image: url(/lm_imgs/mie/save.svg);
    }
}

:global(.ant-btn:hover, .ant-btn:focus) {
    .back {
        background-image: url(/lm_imgs/mie/back-hover.svg);
    }

    .forward {
        background-image: url(/lm_imgs/mie/forward-hover.svg);
    }

    .pen {
        background-image: url(/lm_imgs/mie/pen-hover.svg);
    }

    .text {
        background-image: url(/lm_imgs/mie/text-hover.svg);
    }

    .rect {
        background-image: url(/lm_imgs/mie/rect-hover.svg);
    }

    .circle-icon2 {
        background-image: url(/lm_imgs/mie/circle-hover.svg);
    }

    .triangle {
        background-image: url(/lm_imgs/mie/triangle-hover.svg);
    }

    .line {
        background-image: url(/lm_imgs/mie/line-hover.svg);
    }

    .clear {
        background-image: url(/lm_imgs/mie/clear-hover.svg);
    }

    .export {
        background-image: url(/lm_imgs/mie/export-hover.svg);
    }

    .selected {
        background-image: url(/lm_imgs/mie/selected-hover.svg);
    }

    .noselected {
        background-image: url(/lm_imgs/mie/no-hover.svg);
    }

    .save {
        background-image: url(/lm_imgs/mie/save-hover.svg);
    }
}
